name: CI pricing
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: generate an start API
        run: | 
          mvn -q clean package
          find . -name *.jar
          nohup java -jar target/formation-cicd-test-tp-03-solution-1.0-SNAPSHOT.jar > app.log 2>&1 &

      - name: Wait for API to be ready
        run: |
            for i in {1..30}; do
              if curl -sSf http://localhost:8080/health > /dev/null; then
                echo "API is up!"
                exit 0
              fi
              echo "Waiting API..."
              sleep 2
            done
            echo "API not ready"
            if [ -f app.log ]; then
            tail -n 200 app.log
            else
            echo "Log file app.log not found."
            fi
            exit 1

      - name: Run API tests (Hurl via Docker)
        run: |
          mkdir -p /work/api-test-reports
          docker run --rm \
            --add-host=host.docker.internal:host-gateway \
            -v ${{ github.workspace }}:/work \
            ghcr.io/orange-opensource/hurl:latest \
            --test /work/src/test/java/api \
            --report /work/api-test-reports/summary.txt \
            --report-junit /work/api-test-reports/junit.xml \
            --report-html /work/api-test-reports/report.html \
            --report-json /work/api-test-reports/report.json \ 

      - name: Upload API test reports in artifacts
        uses: actions/upload-artifact@v5
        with:
          name: api-test-reports
          path: api-test-reports/


